# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

build
node_modules
npm-debug.log
yarn-error.log

# Editors and IDEs
.vscode/*
!.vscode/snippets
!.vscode/launch.json
!.vscode/settings.json

# Google Cloud Platform service keys.  Except the example key and README
src/gcp/config/serviceKeys/*
!src/gcp/config/serviceKeys/gcp-CLOUDPRODUCTNAME-PERMISSIONLEVEL-service-key.json
!src/gcp/config/serviceKeys/README.md
